
/* Color schemes */     
/*
:root {
    --overall-background: #8e8e90;
    --header-background: #49494b; 
    --header-text: #d1bfa7;
    --navigation-background: #bd8c7d;
    --navigation-text: black;
    --main-background: white;
    --main-text: black;
    --primary-highlight: #ff9900;
}
*/
:root {
    --overall-background: #9df9ef;
    --header-background: #51e2f5;
    --header-text: black;
    --navigation-background: #ffa8B6;
    --navigation-text: black;
    --main-background: white;
    --main-text: black;
    --primary-highlight: #edf7f6;
    --secondary-highlight: #A28089;
}


      
/* Define body style */     
body {
    /* background-color: var(--overall-background);*/
    background: linear-gradient(to bottom,
				#51e2f5 13%, #9df9ef 18%, #edf7f6 22%, #ffa8B6 26%,
				#A28089 47%, #A78590 50%, #A28089 53%,
				#ffa8B6 74%, #edf7f6 78%, #9df9ef 82%, #51e2f5 87%); /* Colors transition */
    height: 200vh; /* 100vh = Full viewport height */
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Pseudo-element for static noise over the body style */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300vh;
    /* Regular grid: */
    background-image: radial-gradient(var(--secondary-highlight) 2px, transparent 2px);
    background-size: 15px 15px;
    /* "Random" dots: */
    /* background-image:
        radial-gradient(ellipse at 5% 10%, #A28089 4px 2px, transparent 4px),
        radial-gradient(circle at 15% 25%, #A28089 3px 2px, transparent 5px),
        radial-gradient(circle at 25% 75%, #A28089 4px 3px, transparent 4px),
        radial-gradient(circle at 40% 60%, #A28089 4px 2px, transparent 4px),
        radial-gradient(circle at 55% 30%, #A28089 2px 4px, transparent 6px),
        radial-gradient(circle at 65% 85%, #A28089 2px, transparent 7px),
        radial-gradient(circle at 75% 50%, #A28089 2px, transparent 7px),
        radial-gradient(ellipse at 85% 15%, #A28089 2px 4px, transparent 4px),
        radial-gradient(circle at 95% 90%, #A28089 2px, transparent 5px),
        radial-gradient(circle at 50% 50%, #A28089 2px, transparent 6px);
    background-size: 90px 90px; */
    opacity: 0.4; /* Adjusts visibility */
    pointer-events: none; /* Ensures it doesn't interfere with user interactions */
}

/* Define header style */
header {
    background: var(--header-background);
    color: var(--header-text);
    border-bottom: 5px solid var(--secondary-highlight);
    display: flex;
    justify-content: center; /* Centers content inside the header */
    position: fixed; /* keep it at the top of the page */
    z-index: 1000; /* Ensures it stays on top */
    align-items: center; /* Vertical centering */
    padding: 20px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%; /* Ensures the header spans the full width */          
}
.header-content {
    display: flex;
    justify-content: space-between; /* Space between left (name) and right (nav) */
    width: 100%; /* Ensures the header content takes up full width */
    max-width: 1000px; /* Maximum width */
    padding: 0 20px;
    align-items: center; /* Vertical centering */
}
.header-left {
    font-size: 24px;
    font-weight: bold;
    align-items: center; /* Vertical centering */
}

/* Define navigation style */
nav {
    background-color: var(--navigation-background);
    color: var(--navigation-text);
    max-width: 840px; /* Same width as container */
    margin: 0 auto; /* Centers the nav */
    padding: 10px 0; /* Adds spacing inside */
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Right-align the navigation links */
    flex-wrap: wrap; /* Allow navigation links to wrap */
    box-shadow: -10px 0px 15px rgba(0, 0, 0, 0.3), 10px 0px 15px rgba(0, 0, 0, 0.3); /* Shadow on both left and right */
    border-radius: 15px; /* Curves the edges */
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: var(--navigation-text);
    font-weight: bold;
}
nav a.active {
    background-color: var(--primary-highlight); /* Highlight color for active link */
    border-radius: 5px;
}

/* Define main text field style */
.container {
    max-width: 800px;
    background: var(--main-background); /* Keeps the main content readable */
    color: var(--main-text);
    margin: 20px auto;
    font-weight: normal; /* Ensures text inside is not bold */
    text-align: left;
    padding: 2em 1rem; /* Dynamic padding */
    box-shadow: -10px 0px 15px rgba(0, 0, 0, 0.3), 10px 0px 15px rgba(0, 0, 0, 0.3); /* Shadow on both left and right */
    border-radius: 15px; /* Curves the edges */
    position: relative;
    z-index: 1; /* Ensures it's above the noise */
    margin-top: 90px;
}

/* Define style for the profile image */
img.profile {
    width: 200px;
    border-radius: 30%;
    float: right;
    margin-bottom: 15px;
    margin-left: 35px;
    margin-right: 15px;
}

/* Define research list style */
.research-list {
    list-style-type: none;
    padding: 0;
}
.research-item {
    display: flex;
    align-items: center;
    border-bottom: 10px solid #ccc;
    padding: 10px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.research-item img {
    width: 350px; /* Adjust icon size */
    height: 350px;
    margin-left: 30px;
}
.research-description {
    flex: 1; /* Takes up remaining space */
}

/* Define service list style */
.service-list {
    list-style-type: none;
    padding: 0;
}
.service-item {
    display: flex;
    flex-wrap: wrap; /* To behave well on a mobile screen*/
    align-items: center;
    border-bottom: 10px solid #ccc;
    padding: 10px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.service-item img {
    width: 250px; /* Adjust icon size */
    height: auto;
    margin-right: 30px;
}
.service-date {
    width: 130px; /* Fixed width for date column */
    font-weight: bold;
    text-align: right;
    margin-right: 25px;
    flex-shrink: 0; /* this may help with behavior on a mobile screen */
}
.service-description {
    flex: 1; /* Takes up remaining space */
}

/* Define press list style */
.press-list {
    list-style-type: none;
    padding: 0;
}
.press-item {
    display: flex;
    align-items: center;
    border-bottom: 10px solid #ccc;
    padding: 10px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.press-item img {
    width: 350px; /* Adjust icon size */
    height: auto;
    margin-right: 30px;
    border: 10px solid #ccc;
}
.press-description {
    flex: 1; /* Takes up remaining space */
}



/* Mobile-Friendly Styling */
@media (max-width: 600px) {
    /* Adjust header for smaller screens */
    header {
        padding: 15px; /* Reduce padding */
    }

    .header-left {
        font-size: 18px; /* Reduce font size for smaller screens */
    }

    /* Stack header content vertically on small screens */
    .header-content {
        flex-direction: column; /* Stack the header content */
        align-items: center;
        text-align: center;
    }

    /* Adjust the navigation */
    nav {
        justify-content: center; /* Center the links on small screens */
        padding: 15px 0; /* Adjust padding for better spacing */
        font-size: 14px;
    }

    nav a {
        margin: 5px 10px; /* Reduce the margin for smaller screens */
    }

    nav a.active {
        background-color: var(--primary-highlight); /* Highlight color for active link */
        border-radius: 5px;
        display: flex; /* Show the nav menu */
    }

    /* Adjust the container to ensure it doesn't take up the entire width */
    .container {
        width: 70%;  /* Use a percentage of the width (to leave space around it) */
        max-width: 600px;  /* Limit the max width on smaller screens */
        margin-top: 120px;  /* Add top margin (120px) to separate from the fixed header */
        padding: 1.5rem;   /* Adjust padding for better mobile appearance */
    }

    /* Adjust the profile image */
    img.profile {
        width: 100px;
        border-radius: 30%;
        float: right;
        margin-bottom: 5px;
        margin-left: 15px;
        margin-right: 5px;
    }

    /* styling for research list */
    .research-item {
        flex-direction: column; /* Stack elements vertically */
        align-items: center; /* Center align all elements */
        text-align: center; /* Center text for readability */
    }
    .research-item img {
        width: 250px; /* Decrease size slightly to fit within the window */
	height: auto;
	margin-bottom: 10px;
	padding: 0px 10px;
    }
    .research-date {
        width: auto; /* Allow date to take full width */
        text-align: center; /* Center align */
    }
    .research-description {
        width: 100%; /* Full width */
    }

    /* styling for service list */
    .service-item {
        flex-direction: column; /* Stack elements vertically */
        align-items: center; /* Center align all elements */
        text-align: center; /* Center text for readability */
    }
    .service-item img {
        width: 250px; /* Increase size slightly for better visibility */
        height: auto;
        margin-bottom: 10px;
        padding: 0px 10px;
    }
    .service-date {
        width: auto; /* Allow date to take full width */
        text-align: center; /* Center align */
    }
    .service-description {
        width: 100%; /* Full width */
    }

}


